{{ define "main" }}
  <div class="homepage">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    <!-- Hero Section -->
    <header class="hero">
      <h1>{{ .Title }}</h1>
      <p class="subtitle">Technical Writer | API Documentation | DocOps</p>
      <a href="/samples/" class="cta-button">📂 View some samples of my work</a>
    </header>

    <!-- About Me Section -->
    <section class="about">
      <h2>👩‍🦰 About Me</h2>
      <p>I am a <strong>technical writer</strong> specializing in software documentation and APIs.</p> 
      <p>I translate complex technical concepts into clear, user-friendly documentation.</p>
    </section>

    <!-- Featured Work Section -->
    <section class="work">
      <h2>📂 Featured Work</h2>
      <p>Projects I'm proud of and have contributed to:</p>
      <div>
         🚀Yandex:<br> 
         <a href="https://yandex.cloud/en/docs">Cloud</a><br>
         <a href="https://yandex.com/dev/id/doc/en/">ID</a><br> 
         <a href="https://pay.yandex.ru/docs/en/psp/web-sdk/">Pay SDK</a><br> 
         <a href="https://yandex.com/dev/turbo/doc/en/">Turbo Pages</a><br> 
         <a href="https://yandex.com/dev/weather/doc/en/concepts/forecast-rest/">Weather</a><br>
         ⚡<a href="https://clickhouse.com/docs">ClickHouse database</a><br>
         📜<a href="https://catboost.ai/docs/en/">CatBoost machine learning library</a><br>
         🤖<a href="https://docs.cognigy.com">Cognigy: chat and voice bots</a> (WIP)<br>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact">
      <h2>📬 Get in Touch</h2>
      <p>Have a project or a documentation need? <br> Let’s connect!</p>
      <div>
         📧<a href="mailto:elena.baskakova.93@gmail.com">Email</a><br>
         💼<a href="https://www.linkedin.com/in/elena-baskakova/">LinkedIn</a><br>
         🐱<a href="https://github.com/elenaspb2019/">GitHub</a><br>
      </div>
    </section>
  </div>
   _____________________________________________________
{{ end }}

